In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
local_people = pd.read_excel("./output/지역별_퇴사자3.xlsx")
local_people = local_people.iloc[:, [0, -9, -8, -7]]
local_people = local_people.rename(
    columns={"2020.1": "경력", "2020.2": "입사경험", "2020.3": "신입"})
local_people = local_people.drop(index=0)
list = local_people.iloc[1:, 3]
new = []
for i in range(len(list)):
    num_str = list.iloc[i].replace(",", "")
    # print(num_str)
    new.append(int(num_str))
new

[7500,
 1851,
 1666,
 3525,
 205,
 1962,
 1894,
 11975,
 501,
 3179,
 3434,
 1016,
 650,
 715,
 8486,
 74]

In [ ]:
# reward = pd.read_excel("./input/2020/업무_관련_동의_정도_2020.xlsx")
# total_reward = reward.iloc[11:28, 2]
# not_reasonable1 = reward.iloc[11:28, 6:8].sum(axis=1)

# nrl1 = []
# for i in range(len(total_reward)):
#     result=int((total_reward.iloc[i]*not_reasonable1.iloc[i])/100+0.5)
#     # print(result)
#     nrl1.append(result)
# # nrl1
# nrl1[5]+=nrl1[7]
# del nrl1[7]

# nrl1

[1030,
 523,
 352,
 423,
 255,
 217,
 219,
 1823,
 293,
 266,
 391,
 267,
 345,
 426,
 502,
 205]

In [74]:
reward = pd.read_excel("./input/2020/업무_관련_동의_정도_2020.xlsx")
total_reward = reward.iloc[11:28, 2]
sample=reward.iloc[11:28,3]
not_reasonable1 = reward.iloc[11:28, 6:8].sum(axis=1)

nrl1 = []
for i in range(len(total_reward)):
    result=int((total_reward.iloc[i]*sample.iloc[i])/100+0.5)
    # print(result)
    nrl1.append(result)
# nrl1
nrl1[5]+=nrl1[7]
del nrl1[7]

nrl1
# sample

[277, 78, 70, 146, 95, 100, 99, 433, 29, 54, 62, 103, 46, 39, 137, 26]

In [73]:
df = pd.DataFrame({"적절한_보상_없음": nrl1, "신입_퇴사자": new})
correlation_not_reasonable_reward = df["적절한_보상_없음"].corr(df["신입_퇴사자"])
print(f"낮은 근무시간과 퇴사자 수의 상관관계 : {correlation_not_reasonable_reward}")
df

낮은 근무시간과 퇴사자 수의 상관관계 : 0.8784289075449888

    적절한_보상_없음  신입_퇴사자
0         277    7500
1          78    1851
2          70    1666
3         146    3525
4          95     205
5         100    1962
6          99    1894
7         433   11975
8          29     501
9          54    3179
10         62    3434
11        103    1016
12         46     650
13         39     715
14        137    8486
15         26      74

In [70]:
import statsmodels.api as sm

df = pd.DataFrame({"적절한_보상_없음": nrl1, "신입_퇴사자": new})
correlation_not_reasonable_reward = df["적절한_보상_없음"].corr(df["신입_퇴사자"])
# print(correlation)

X = df['적절한_보상_없음']
X = sm.add_constant(X)
Y = df['신입_퇴사자']

model = sm.OLS(Y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 신입_퇴사자   R-squared:                       0.731
Model:                            OLS   Adj. R-squared:                  0.712
Method:                 Least Squares   F-statistic:                     38.01
Date:                Sat, 28 Dec 2024   Prob (F-statistic):           2.46e-05
Time:                        10:09:24   Log-Likelihood:                -141.82
No. Observations:                  16   AIC:                             287.6
Df Residuals:                      14   BIC:                             289.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -290.4407    707.775     -0.410      0.688   -1808.467    1227.586
적절한_보상_없음      7.0691      1.147      6.165      0.000       4.610       9.528
==============================================================================
Omnibus:                       14.551   Durbin-Watson:                   2.606
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               11.816
Skew:                           1.592   Prob(JB):                      0.00272
Kurtosis:                       5.753   Cond. No.                         955.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\dawoo\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  res = hypotest_fun_out(*samples, **kwds)

In [68]:
import statsmodels.api as sm

df = pd.DataFrame({"적절한_보상_있음": nrl1, "신입_퇴사자": new})
correlation_not_reasonable_reward = df["적절한_보상_있음"].corr(df["신입_퇴사자"])
# print(correlation)

X = df['적절한_보상_있음']
X = sm.add_constant(X)
Y = df['신입_퇴사자']

model = sm.OLS(Y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 신입_퇴사자   R-squared:                       0.772
Model:                            OLS   Adj. R-squared:                  0.755
Method:                 Least Squares   F-statistic:                     47.31
Date:                Sat, 28 Dec 2024   Prob (F-statistic):           7.59e-06
Time:                        10:09:07   Log-Likelihood:                -140.51
No. Observations:                  16   AIC:                             285.0
Df Residuals:                      14   BIC:                             286.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -154.8373    627.027     -0.247      0.809   -1499.677    1190.002
적절한_보상_있음     28.4896      4.142      6.878      0.000      19.606      37.374
==============================================================================
Omnibus:                       14.346   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               11.567
Skew:                           1.572   Prob(JB):                      0.00308
Kurtosis:                       5.732   Cond. No.                         225.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\dawoo\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  res = hypotest_fun_out(*samples, **kwds)